
<div class="user-sidebar ">
    <div class="pro-header text-end pb-0 mb-0 show-1023">
        <div class="fix-icon"><span class="flaticon-close"></span></div>
    </div>
    <div class="sidebar-inner">
        <ul class="navigation">
            <li class="active mb-1"><a href="/candidates-dashboard/dashboard"><i class="la la-home"></i> Dashboard</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/my-profile"><i class="la la-user-tie"></i> My Profile</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/my-resume"><i class="la la la-file-invoice"></i> My Resume</a>
            </li>
            <li class=" mb-1"><a href="/candidates-dashboard/applied-jobs"><i class="la la-briefcase"></i> Applied Jobs</a>
            </li>
            <li class=" mb-1"><a href="/candidates-dashboard/job-alerts"><i class="la la la-bell"></i> Job Alerts</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/short-listed-jobs"><i class="la la-bookmark-o"></i> Shortlisted
                    Jobs</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/cv-manager"><i class="la la la-file-invoice"></i> CV
                    manager</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/packages"><i class="la la-box"></i> Packages</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/messages"><i class="la la-comment-o"></i> Messages</a></li>
            <li class=" mb-1"><a href="/candidates-dashboard/change-password"><i class="la la-lock"></i> Change Password</a>
            </li>
            <li class=" mb-1"><a href="/login"><i class="la la-sign-out"></i> Logout</a></li>
            <li class=" mb-1"><a href="/"><i class="la la-trash"></i> Delete Profile</a></li>
        </ul>
        <div class="skills-percentage">
            <h4>Skills Percentage</h4>
            <p>`Put value for <strong>Cover Image</strong> field to increase your skill up to <strong>85%</strong>`</p>
            <div style="width: 200px; height: 200px; margin: auto;"><svg class="CircularProgressbar " viewBox="0 0 100 100"
                    data-test-id="CircularProgressbar">
                    <circle class="CircularProgressbar-background" cx="50" cy="50" r="50" style="fill: rgb(115, 103, 240);">
                    </circle>
                    <path class="CircularProgressbar-trail" d="
            M 50,50
            m 0,-40
            a 40,40 0 1 1 0,80
            a 40,40 0 1 1 0,-80
          " stroke-width="8" fill-opacity="0"
                        style="stroke: transparent; stroke-dasharray: 251.327px, 251.327px; stroke-dashoffset: 0px;"></path>
                    <path class="CircularProgressbar-path" d="
            M 50,50
            m 0,-40
            a 40,40 0 1 1 0,80
            a 40,40 0 1 1 0,-80
          " stroke-width="8" fill-opacity="0"
                        style="stroke: rgb(255, 255, 255); stroke-dasharray: 251.327px, 251.327px; stroke-dashoffset: 175.929px;">
                    </path><text class="CircularProgressbar-text" x="50" y="50" style="fill: rgb(255, 255, 255);">30%</text>
                </svg></div>
        </div>
    </div>
</div>
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h4>Your Learnings</h4>
        </div>
        <div class="mb-4 ms-0 show-1023"><button type="button" class="theme-btn toggle-filters"><span
                    class="flaticon-menu-1"></span> Menu</button></div>
        <div class="row">
            <div class="ui-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-blue card">
                    <div class="top">
                        <div class="left">
                            <div class="inner-text">
                                <i class="fa fa-video"></i>
                                <span>course</span>
                            </div>
                            <h5>Advance Javascript</h5>
                            <h6 class="sub">By Kyle Simpson</h6>
                        </div>
                        <div class="right">
                            <img class="logo-icon" src="/assets/images/logo/logo-JS.png">
                        </div>
                    </div>
                    <hr>
                    <div class="bottom">
                        text 1 | text 2 | text 3
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-blue card">
                    <div class="top">
                        <div class="left">
                            <div class="inner-text">
                                <i class="fa fa-video"></i>
                                <span>course</span>
                            </div>
                            <h5>Advance Javascript</h5>
                            <h6 class="sub">By Kyle Simpson</h6>
                        </div>
                        <div class="right">
                            <img class="logo-icon" src="/assets/images/logo/logo-JS.png">
                        </div>
                    </div>
                    <hr>
                    <div class="bottom">
                        text 1 | text 2 | text 3
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-blue card">
                    <div class="top">
                        <div class="left">
                            <div class="inner-text">
                                <i class="fa fa-video"></i>
                                <span>course</span>
                            </div>
                            <h5>Advance Javascript</h5>
                            <h6 class="sub">By Kyle Simpson</h6>
                        </div>
                        <div class="right">
                            <img class="logo-icon" src="/assets/images/logo/logo-JS.png">
                        </div>
                    </div>
                    <hr>
                    <div class="bottom">
                        text 1 | text 2 | text 3
                    </div>
                </div>
            </div>
        </div>

        <div class="upper-title-box">
            <h4>Your Earnings</h4>
        </div>
        <div class="row">
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-blue">
                    <div class="left"><i class="icon la flaticon-briefcase"></i></div>
                    <div class="right">
                        <h4>22</h4>
                        <p>Posted Jobs</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-red">
                    <div class="left"><i class="icon la la-file-invoice"></i></div>
                    <div class="right">
                        <h4>9382</h4>
                        <p>Application</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-yellow">
                    <div class="left"><i class="icon la la-comment-o"></i></div>
                    <div class="right">
                        <h4>74</h4>
                        <p>Messages</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-green">
                    <div class="left"><i class="icon la la-bookmark-o"></i></div>
                    <div class="right">
                        <h4>32</h4>
                        <p>Shortlist</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="applicants-widget ls-widget">
                    <div class="widget-title">
                        <h4>Recent Applicants</h4>
                    </div>
                    <div class="widget-content">
                        <div class="row" *ngIf="jobs && jobs.length > 0">
                            <div class="job-block col-lg-6 col-md-12 col-sm-12" *ngFor="let job of jobs">
                                <div class="inner-box">
                                    <div class="content">
                                        <span class="company-logo">
                                            <img src="/assets/images/company-logo/1-1.png" alt="item brand">
                                        </span>
                                        <h4><a href="/detail">{{job.title}}</a></h4>
                                        <ul class="job-info">
                                            <li><span class="icon flaticon-briefcase"></span>{{job.companyName}}</li>
                                            <li><span class="icon flaticon-map-locator"></span>{{job.location}}</li>
                                            <li><span class="icon flaticon-clock-3"></span> 11 hours ago</li>
                                            <li><span class="icon flaticon-money"></span> $35k - $45k</li>
                                        </ul>
                                        <ul class="job-other-info">
                                            <li class="time">{{job.experience}}</li>
                                            <li class="privacy">Private</li>
                                            <li class="required">Urgent</li>
                                        </ul>
                                        <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>