.sidebar-inner{
    figure{
        text-align: center;
    }
}


@media only screen and (max-width: 1600px)
{
    .user-dashboard{
        padding-left: 300px;
        background: #f5f7fc;
    }
}

@media only screen and (max-width: 1266px){
    .user-dashboard {
        padding-left: 0;
    }
}